/*=================== RESET ==================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*--- Remove as setas do input number----*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
/*-------------------------------*/
ol {
  list-style-type: none;
}

button,
input {
  border: none;
  outline: none;
}
/*================== Layout =================*/
.flexbox {
  display: flex;
}
.hidden {
  display: none;
}
.container {
  margin-bottom: 1rem;
}
.buttons {
  align-items: baseline;
  justify-content: space-between;
}
/*================== Base ===================*/
:root {
  --family: 'Poppins', sans-serif;
  --text-color: darkgray;
}
body {
  background-image: url('assets/background.jpg');
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
}

header h1 {
  font: 600 1.5rem var(--family);
  text-align: center;
  color: #929191;
  margin: 1rem;
}

main {
  background-color: #f0f0f0;
  padding: 1rem 1rem 0;
  box-shadow: 5px 5px 20px #b3b1b1;
  max-width: 90%;
  border: 3px solid whitesmoke;
  border-radius: 10px;
}

/*================= General ===================*/
label {
  font: 600 0.8rem var(--family);
  color: var(--text-color);
  line-height: 1.6rem;
  margin-right: 1rem;
}
input {
  font: 400 0.8rem var(--family);
  color: var(--text-color);
  background-color: #f8f8f8;
  line-height: 1.4rem;
  border-radius: 3px;
}
button {
  font: 600 0.8rem var(--family);
  color: var(--text-color);
  background-color: #e0e0e0;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

button:hover {
  background-color: #e8e8e8;
  color: #b8b8b8;
}

button:active {
  transform: scale(0.9, 0.9);
}

h2 {
  color: var(--text-color);
}
/*================= Sections ===================*/
.entries input {
  padding: 0 0.5rem;
}

.entries button#add_value {
  margin-left: 1rem;
}

.table ol {
  flex-wrap: wrap;
}
.table ol li {
  padding: 0.2rem;
}
.table input,
.table h2 {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #e8e8e8;
}
.table input {
  display: block;
  text-align: center;
}
.table h2 {
  font: 500 0.8rem var(--family);
  line-height: 1.4rem;
  padding: 0 0.5rem;
}

#result h2 {
  font: 500 1rem var(--family);
  text-align: center;
}

footer {
  align-self: flex-start;
  flex-grow: 1;
  align-items: flex-end;
}
a {
  padding: 1rem;
  text-decoration: none;
  font: 500 0.8rem var(--family);
  color: rgb(165, 164, 164);
}
